<div ng-controller="SettingsController as settings" ng-init="init(dashboard.defaults)" style="padding: 10px">

  <form class="form-inline" style="margin-top: 2em">
    <field>
      <legend>Server Settings</legend>
      <table style="width:100%">
        <colgroup>
          <col style="width:1em">
          <col style="width:1em">
        </colgroup>
        <tbody>
          <tr>
            <td style="white-space: nowrap"><label>Server Root:</label></td>
            <td colspan="2" ><input class="form-control" type="text" ng-model="settings.defaults.server.root" style="width:100%"></td>
          </tr>
          <tr>
            <td style="white-space: nowrap"><label>Notify Root:</label></td>
            <td>
              {{settings.defaults.server.root}}
            </td>
            <td>
              <input class="form-control" type="text" ng-model="settings.defaults.server.notifyRoot" style="width:100%; padding-left: 0">
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap"><label>Push Root:</label></td>
            <td>
              {{settings.defaults.server.root}}
            </td>
            <td>
              <input class="form-control" type="text" ng-model="settings.defaults.server.pushRoot" style="width:100%; padding-left: 0">
            </td>
          </tr>
          <tr>
            <td style="white-space: nowrap"><label>Job's Root:</label></td>
            <td>
              {{settings.defaults.server.root}}
            </td>
            <td>
              <input class="form-control" type="text" ng-model="settings.defaults.server.jobsRoot" style="width:100%; padding-left: 0">
            </td>
          </tr>
        </tbody>
      </table>
    </field>
  </form>

  <form class="form-inline" style="margin-top: 2em">
    <field>
      <legend>Default Account Settings</legend>
      <table>
        <colgroup>
          <col style="width:1em">
        </colgroup>
        <tbody>
          <tr>
            <td><label>Username:</label></td>
            <td><input class="form-control" type="text" ng-model="settings.defaults.authentication.username"></td>
          </tr>
          <tr>
            <td><label>Password:</label></td>
            <td><input class="form-control" type="text" ng-model="settings.defaults.authentication.password"></td>
          </tr>
        </tbody>
      </table>
    </field>
  </form>

</div>