<div ng-controller="NotifyServerController as notifyServer">

  <form id="sign-in" class="form-inline" ng-submit="notifyServer.signIn()" ng-hide="notifyServer.authentication.signedIn">
    <table>
      <tr>
        <td><label>Username:</label></td>
        <td><input class="form-control" type="text" ng-model="notifyServer.authentication.username"></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><input class="form-control" type="text" ng-model="notifyServer.authentication.password"></td>
        <td><input class="form-control" type="submit" value="Sign In"></td>
      </tr>
    </table>
  </form>

  <div ng-show="notifyServer.authentication.signedIn">
    You are signed in to
    <strong>{{notifyServer.domain.domainName}}</strong> as
    <strong>{{notifyServer.authentication.username}}</strong>
    (<a href ng-click="notifyServer.signOut()">sign out</a>).

    <form id="notify-filter" class="form-inline" style="margin-top: 1em" ng-submit="notifyServer.reloadNotifications()">
      <table style="width: 100%">
        <tr>
          <td><label for="topic-fld">Topic:</label></td>
          <td><select id="topic-fld" class="form-control" ng-model="notifyServer.topic" ng-options="x.name for x in notifyServer.summary.topics" ng-change="notifyServer.reloadNotifications()">
            <option></option>
          </select></td>
          <td style="text-align:right"><label for="limit-fld">Limit:</label></td>
          <td><select id="limit-fld" class="form-control" ng-model="notifyServer.limit" ng-options="x for x in notifyServer.limits" ng-change="notifyServer.reloadNotifications()"></select></td>
        </tr>
        <tr>
          <td><label for="trait-fld">Trait:</label></td>
          <td><select id="trait-fld" class="form-control" ng-model="notifyServer.traitKey" ng-options="x.key for x in notifyServer.summary.traits" ng-change="notifyServer.reloadNotifications()">
            <option></option>
          </select></td>
          <td style="width:100%"><input type="text" title="Trait Value" class="form-control" ng-model="notifyServer.traitValue" style="width:100%"></td>
          <td><input type="submit" title="Search" class="form-control" value="Search" style="width:100%"></td>
        </tr>
      </table>
    </form>

    <div style="margin: 1em 0 0">
      <ul class="pagination" style="margin:0; float:left">
        <li ng-class="{disabled: notifyServer.notifications.offset == 0}"  >
          <a href ng-click="notifyServer.previous()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li ng-class="{disabled: notifyServer.notifications.totalExact}">
          <a href ng-click="notifyServer.next()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li ng-class="{disabled: page.offset < 0, active: page.offset == notifyServer.offset}" ng-repeat="page in notifyServer.pages">
          <a href ng-click="notifyServer.toOffset(page.offset)"><span aria-hidden="true">{{page.label}}</span></a>
        </li>
      </ul>
      <div style="float:right; margin-top: auto">
        Showing {{notifyServer.notifications.offset+1}} to {{notifyServer.notifications.offset+notifyServer.notifications.size}}
      </div>
      <div style="clear:both"></div>
    </div>

    <div ng-repeat="notification in notifyServer.notifications.results" class="highlight img-rounded" style="background-color: #f7f7f9; border: 1px solid #e1e1e8; margin: 1em 0; padding: 0 5px">
      <div style="float:left">{{ notification.createdAtLocal.substring(0,10) }} {{ notification.createdAtLocal.substring(11) }}</div>
      <div style="float:right; font-weight: bold">{{ notification.topic }}</div>
      <div style="clear:both; font-weight: bold; color: blue">{{ notification.summary }}</div>


      <!-- Exception Info -->
      <table ng-show="notification.exceptionInfo" style="margin-top: 1em">
        <tr>
          <td>Exception&nbsp;Info:&nbsp;</td>
          <td><a href data-toggle="modal" data-target="#exception-info-dlg" style="color: blue">{{notification.exceptionInfo.message}}</a></td>
        </tr>
      </table>


      <!-- Notification Traits -->
      <div ng-show="notification.traits.length" style="margin-top: 1em">
        <div ng-hide="!notification.hideTraits">
          {{ notification.traits.length }} traits:  <a href ng-click="notification.hideTraits=false" style="font-size: smaller">show</a>
        </div>

        <div ng-hide="notification.hideTraits">
          {{ notification.traits.length }} traits: <a href ng-click="notification.hideTraits=true" style="font-size: smaller">hide</a>
          <ul>
            <li ng-repeat="trait in notification.traits">
              {{trait.key}}: <strong>{{trait.value}}</strong>
            </li>
          </ul>
        </div>
      </div>


      <div class="modal fade" id="exception-info-dlg">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>-->
              <h4 class="modal-title">{{notification.exceptionInfo.message}}</h4>
            </div>
            <div class="modal-body">
              Type: <span style="font-weight:bold">{{notification.exceptionInfo.exceptionType}}</span>

              <div style="margin-top: 1em">Stack Trace</div>
              <div class="highlight img-rounded" style="background-color: #f7f7f9; border: 1px solid #e1e1e8; font-weight:bold; overflow: scroll; white-space: pre; height: 20em">{{ notification.exceptionInfo.stackTrace }}</div>

            </div>
            <!--<div class="modal-footer">-->
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
              <!--&lt;!&ndash;<button type="button" class="btn btn-primary">Save changes</button>&ndash;&gt;-->
            <!--</div>-->
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
  </div>

</div>
